<div class="sidebar" data-color="orange"  >
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
  -->
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-normal">
      Labo B.T.A
    </a>
  </div>
  <div class="sidebar-wrapper" id="sidebar-wrapper">
    <ul class="nav">
      <li class="active">
        <a routerLink="/dashboard">
          <i class="now-ui-icons design_app"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a routerLink="/rendez-vous">
          <i class="now-ui-icons education_atom"></i>
          <p>Rendez-vous</p>
        </a>
      </li>
      <li>
        <a routerLink="/kits">
          <i class="now-ui-icons location_map-big"></i>
          <p>Commandes</p>
        </a>
      </li>
      <li>
        <a routerLink="/resultats">
          <i class="now-ui-icons ui-1_bell-53"></i>
          <p>Resultats</p>
        </a>
      </li>
      <li>
        <a routerLink="/profile">
          <i class="now-ui-icons users_single-02"></i>
          <p>User Profile</p>
        </a>
      </li>
    </ul>
  </div>
</div>
